@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

body {
    background-image: url('./img/map-bg.jpg'); font-family: 'Lato', sans-serif; font-size: 18px;
}
#main {
    width: 900px; margin: 10px auto;  
}
#menu {
    columns: 400px 2; column-gap: 100px; column-rule: 2px dashed rosybrown;
}
.details {
    order: 1;
}
.price {
    order: 2; padding-left: 10px; font-size: large; color: firebrick;
}
h1 {
    font-family: 'Supermercado One', sans-serif; font-size: 45px; color: #5d4037;
}
h2 {
    margin: 0; font-variant: small-caps; color: #6d4c41;
}
nav {
    font-family: 'Lato', sans-serif; font-size: 18px;
}
section {
    margin-bottom: 50px;
}
dt {
    font-weight: bold; font-size: 20px;
}
dd {
    margin: 0 0 12px 0; display: flex;
}
address {
    padding: 10px; border: 2px dashed rosybrown;
}