@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

body {
    font-family: 'Oswald', sans-serif; font-size: 14px;
}
#main {
    width: 900px; margin: 10px auto;
}
#starters, #desserts {
    border: 2px; border-style: solid; border-color: black;
}
#menu {
    columns: 420px 2; column-gap: 60px;
}
.price {
    float: right; padding: 0 0 35px 20px;
}
h1 {
    font-family: 'Bungee Inline', sans-serif; font-weight: lighter; font-size:  46px;
}
h2 {
    margin-top: 0; text-transform: capitalize; font-weight: bold;
}
nav {
    font-family: 'Oswald', sans-serif; font-size: 10px;
}
section {
    margin-bottom: 20px; padding: 10px;
}
dt {
    display: inline; font-weight: bold; font-size: 16px;
}
dt::after {
    content: ", ";
}
dd {
    display: inline; margin: 0;
}
dd::after {
    content: " "; display: block; clear: both; margin-bottom: 15px;
}
footer {
    text-align: right;
}